<header data-aura-component="navbar"></header>
<div id="landingPage">
	<div class="container">
		<div class="well">
		<h1>Mate It</h1>
		<p>Welcome to MateIt the biggest and sexiest roommate comunity in the world</p>
		</div>
	</div>
</div>