doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		title MateIt
		//- Bootstrap
		!= css('css/bootstrap.min.css')
		!= css('css/flat-ui.css')
		!= css('css/styles.css')
	body
		header
		div#appContainer
		footer
		!= js('js/dev/bootstrap.js')