<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">MateIt</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/app/signup">Signup</a></li>
        <li><a href="/app/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>  